<div class="widget">
    <h3 class="widget-title">格言</h3>
    <div class="widget-body">
        <div id="board">
            <div class="content">
				
				<p id="hitokoto">:D 获取中...</p>
				<p id="from" style="text-align: right"></p>
                <script>
					  var xhr = new XMLHttpRequest();
					  xhr.open('get', 'https://v1.hitokoto.cn');
					  xhr.onreadystatechange = function () {
						if (xhr.readyState === 4) {
						  var data = JSON.parse(xhr.responseText);
						  var hitokoto = document.getElementById('hitokoto');
						  hitokoto.innerText = data.hitokoto;
						  var from = document.getElementById('from');
						  from.innerText = "-- " + data.from;
						}
					  }
					  xhr.send();
				</script>
				
				<%- theme.site.board %>
            </div>
        </div>
    </div>
</div>
